/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #1c3c50;
  color: #ffffff;
  font-family: 'Fira Code', 'Verdana', sans-serif; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover {
    color: #d7dbdc; }

input, button {
  color: black; }

ul {
  list-style: none; }
  ul li {
    margin-left: 20px;
    display: inline-block; }

.wrapper {
  width: 1140px;
  margin: auto; }

#main {
  margin-top: 100px; }

.typings {
  display: inline;
  font-size: 36px; }

.m-line {
  margin: 40px;
  background-color: #1cbddd;
  height: 2px; }

.h-logo a {
  font-size: 36px; }

.h-contact-me {
  padding: 5px;
  background-color: #d7dbdc;
  border-radius: 5px;
  color: #1c3c50; }

.s-imac-background {
  width: 815px;
  height: 507px;
  background: url("../images/mac.png") no-repeat;
  background-size: contain;
  padding: 54px 163px 109px 162px;
  margin-bottom: 100px;
  overflow: hidden; }

.desktop-bg {
  position: relative;
  background-color: #1cbddd;
  width: 100%;
  height: 100%; }

.desktop-ide {
  position: absolute;
  background-color: #2B2B2B;
  top: 26px;
  left: 38px;
  width: calc(100% - 38px * 2);
  height: calc(100% - 26px - 60px);
  border-radius: 5px;
  transition-property: height, width, top, left, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease; }

.desktop-ide-fullscreen {
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100% - 60px); }

.desktop-ide-hide {
  cursor: pointer;
  height: 25px;
  width: 50px;
  top: 90%;
  left: 362px;
  opacity: 0; }

.desktop-bar {
  height: 24px;
  width: 100%;
  background-color: #d7dadb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }

.desktop-bar-hide {
  opacity: 0; }

.desktop-ide-content {
  font-weight: 700;
  padding: 5px 20px;
  font-size: 16px;
  color: white;
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
  transition-timing-function: linear; }

.desktop-ide-content-hide {
  transition-delay: 0s;
  transition-duration: 0.2s;
  opacity: 0; }

.desktop-browser-content {
  font-weight: 700;
  padding: 5px 20px;
  font-size: 16px;
  color: grey;
  opacity: 1;
  transition-property: opacity;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
  transition-timing-function: linear; }

.desktop-browser-content-hide {
  transition-delay: 0s;
  transition-duration: 0.2s;
  opacity: 0; }

.i-open-button {
  width: 100%;
  height: 0;
  transition-property: height;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-timing-function: linear; }

.i-open-button-hide {
  transition-delay: 0.8s;
  height: 100%; }

.bar-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px; }

.bar-button {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 4px;
  float: left; }

.b-red {
  background-color: #fc4349; }

.b-yellow {
  background-color: #ffc600; }

.b-green {
  background-color: #52ac62; }

.desktop-browser {
  position: absolute;
  background-color: white;
  top: 26px;
  left: 38px;
  width: calc(100% - 38px * 2);
  height: calc(100% - 26px - 60px);
  border-radius: 5px;
  transition-property: height, width, top, left, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease; }

.desktop-browser-fullscreen {
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100% - 60px); }

.desktop-browser-hide {
  cursor: pointer;
  height: 25px;
  width: 50px;
  top: 90%;
  left: 362px;
  opacity: 0; }

.dock {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1c3c50;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.dock-hovered {
  width: 120px; }

.dock-icon {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  transition-property: height, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in; }

.icon-wrapper {
  z-index: 2;
  bottom: 0;
  cursor: pointer;
  border-radius: 100px;
  padding: 5px;
  background-color: white;
  margin-bottom: 5px;
  transition-property: padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in; }
  .icon-wrapper:hover {
    padding: 10px; }
  .icon-wrapper:hover .dock-icon {
    height: 50px;
    width: 50px; }

.front-wrapper {
  background: linear-gradient(-24deg, #60e0e6, #2d8dd9);
  background: -webkit-linear-gradient(-24deg, #60e0e6, #2d8dd9); }

.back-wrapper {
  background: linear-gradient(161deg, #765af8, #fd3e95);
  background: -webkit-linear-gradient(161deg, #765af8, #fd3e95); }

.frontend-icon {
  background: url("../images/code.svg") no-repeat;
  background-size: contain; }

.backend-icon {
  background: url("../images/admin.svg") no-repeat;
  background-size: contain; }

.bar-title {
  margin-top: 2px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 12px;
  color: #1c3c50; }

.bg-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.is-hidden {
  display: none; }

.text-center {
  text-align: center; }

.blue-text {
  color: #1cbddd; }

.red-text {
  color: #ff4148; }

.func-text {
  color: #cc7832; }

.var-text {
  color: #9876AA; }

.green-text {
  color: #6A8759; }

.function-text {
  color: #FFC66D; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.flex-space-around {
  display: flex;
  justify-content: space-around; }

.text-indent-1 {
  text-indent: 1em;
  line-height: 0.5em; }

.text-indent-2 {
  text-indent: 2em;
  line-height: 0.5em; }

.test-sq {
  transition-property: background-color, border-radius, height;
  transition-duration: 1s;
  transition-timing-function: linear; }

@font-face {
  font-family: 'Fira Code';
  src: url("eot/FiraCode-Light.eot");
  src: url("eot/FiraCode-Light.eot") format("embedded-opentype"), url("woff2/FiraCode-Light.woff2") format("woff2"), url("woff/FiraCode-Light.woff") format("woff"), url("ttf/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fira Code';
  src: url("eot/FiraCode-Regular.eot");
  src: url("eot/FiraCode-Regular.eot") format("embedded-opentype"), url("woff2/FiraCode-Regular.woff2") format("woff2"), url("woff/FiraCode-Regular.woff") format("woff"), url("ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Fira Code';
  src: url("eot/FiraCode-Medium.eot");
  src: url("eot/FiraCode-Medium.eot") format("embedded-opentype"), url("woff2/FiraCode-Medium.woff2") format("woff2"), url("woff/FiraCode-Medium.woff") format("woff"), url("ttf/FiraCode-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fira Code';
  src: url("eot/FiraCode-Bold.eot");
  src: url("eot/FiraCode-Bold.eot") format("embedded-opentype"), url("woff2/FiraCode-Bold.woff2") format("woff2"), url("woff/FiraCode-Bold.woff") format("woff"), url("ttf/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.typed-cursor {
  opacity: 1;
  font-size: 32px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
