.s-imac-background {
  width: 815px;
  height: 507px;
  background: url("../images/mac.png") no-repeat;
  background-size: contain;
  padding: 54px 163px 109px 162px;
  margin-bottom: 100px;
  overflow: hidden;
}

.desktop-bg {
  position: relative;
  background-color: $secondaryBlue;
  width: 100%;
  height: 100%;
}

.desktop-ide {
  position: absolute;
  background-color: #2B2B2B;
  top: 26px;
  left: 38px;
  width: calc(100% - 38px * 2);
  height: calc(100% - 26px - 60px);
  border-radius: 5px;

  transition-property: height, width, top, left, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

.desktop-ide-fullscreen {
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100% - 60px);
}

.desktop-ide-hide {
  cursor: pointer;
  height: 25px;
  width: 50px;
  top: 90%;
  left: 362px;
  opacity: 0;
}

.desktop-bar {
  height: 24px;
  width: 100%;
  background-color: #d7dadb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.desktop-bar-hide {
  opacity: 0;
}

.desktop-ide-content {
  font-weight: 700;
  padding: 5px 20px;
  font-size: 16px;
  color: white;
  opacity: 1;

  transition-property: opacity;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.desktop-ide-content-hide {
  transition-delay: 0s;
  transition-duration: 0.2s;
  opacity: 0;
}

.desktop-browser-content {
  font-weight: 700;
  padding: 5px 20px;
  font-size: 16px;
  color: grey;
  opacity: 1;

  transition-property: opacity;
  transition-delay: 0.8s;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.desktop-browser-content-hide {
  transition-delay: 0s;
  transition-duration: 0.2s;
  opacity: 0;
}

.i-open-button {
  width: 100%;
  height: 0;

  transition-property: height;
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.i-open-button-hide {
  transition-delay: 0.8s;
  height: 100%;
}

.bar-buttons {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.bar-button {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  cursor: pointer;

  margin-right: 4px;
  float: left;
}

.b-red {
  background-color: #fc4349;
}

.b-yellow {
  background-color: #ffc600;
}

.b-green {
  background-color: #52ac62;
}

.desktop-browser {
  position: absolute;
  background-color: white;
  top: 26px;
  left: 38px;
  width: calc(100% - 38px * 2);
  height: calc(100% - 26px - 60px);
  border-radius: 5px;

  transition-property: height, width, top, left, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

.desktop-browser-fullscreen {
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100% - 60px);
}

.desktop-browser-hide {
  cursor: pointer;
  height: 25px;
  width: 50px;
  top: 90%;
  left: 362px;
  opacity: 0;
}

.dock {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1c3c50;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.dock-hovered {
  width: 120px;
}

.dock-icon {
  height: 20px;
  width: 20px;
  border-radius: 15px;

  transition-property: height, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;

}

.icon-wrapper {
  z-index: 2;
  bottom: 0;
  cursor: pointer;
  border-radius: 100px;
  padding: 5px;
  background-color: white;
  margin-bottom: 5px;

  transition-property: padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;

  &:hover {
    padding: 10px;
  }

  &:hover .dock-icon {
    height: 50px;
    width: 50px;
  }
}

.front-wrapper {
  background: linear-gradient(-24deg, rgb(96, 224, 230), rgb(45, 141, 217));
  background: -webkit-linear-gradient(-24deg, rgb(96, 224, 230), rgb(45, 141, 217));
}

.back-wrapper {
  background: linear-gradient(161deg, rgb(118, 90, 248), rgb(253, 62, 149));
  background: -webkit-linear-gradient(161deg, rgb(118, 90, 248), rgb(253, 62, 149));
}

.frontend-icon {
  //padding: 10px;
  background: url("../images/code.svg") no-repeat;
  background-size: contain;
}

.backend-icon {
  //padding: 10px 10px;
  background: url("../images/admin.svg") no-repeat;
  background-size: contain;
}

.bar-title {
  margin-top: 2px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 12px;
  color: $primaryDarkBlue;
}

.bg-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}