$primaryDarkBlue: #1c3c50;
$primaryRed: #ff4148;
$primaryGrey: #d7dbdc;
$secondaryBlue: #1cbddd;
$white: #ffffff;

body {
  background-color: $primaryDarkBlue;
  color: $white;
  font-family: 'Fira Code', 'Verdana', sans-serif;
}

a {
  text-decoration: none;
  color: $white;
  &:hover {
    color: $primaryGrey;
  }
}

input, button {
  color: black;
}

ul {
  list-style: none;
  li {
    margin-left: 20px;
    display: inline-block;
  }
}