.blue-text {
  color: $secondaryBlue;
}

.red-text {
  color: $primaryRed;
}

.func-text {
  color: #cc7832;
}
.var-text {
  color: #9876AA;
}
.green-text {
  color: #6A8759;
}

.function-text {
  color: #FFC66D;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.text-indent-1 {
  text-indent: 1em;
  line-height: 0.5em;
}

.text-indent-2 {
  text-indent: 2em;
  line-height: 0.5em;
}

.test-sq {
  transition-property: background-color, border-radius, height;
  transition-duration: 1s;
  transition-timing-function: linear;
}